* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--color1: rgb(0, 231, 255);
--color2: rgb(255, 0, 231);
--back: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
--charizard1: #fac;
--charizard2: #ddccaa;
--charizardfront: url(https://assets.codepen.io/13471/charizard-gx.webp);
}


html, body {
  height: 100%;
  background-color: #333844;
  padding: 0;
  z-index: 1;
  transform: translate3d(0,0,0.1px);
}
body {
  color: white;
  background-color: #333844;
  font-family: "Heebo", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  perspective: 1000px;

}


.card {
  height: 500px;
  width: 350px;
  transform-style: preserve-3d;
  position: relative;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  
  border-radius: 5% / 3.5%;
  box-shadow: 
    -5px -5px 5px -5px var(--color1), 
    5px 5px 5px -5px var(--color2), 
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent, 
    0 0 5px 0px rgba(255,255,255,0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;

}

.card:hover {
  box-shadow: 
    -20px -20px 30px -25px var(--color1), 
    20px 20px 30px -25px var(--color2), 
    -7px -7px 10px -5px var(--color1), 
    7px 7px 10px -5px var(--color2), 
    0 0 13px 4px rgba(255,255,255,0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.charizard {
  --color1: var(--charizard1);
  --color2: var(--charizard2);
  --front: var(--charizardfront);
}


.card:before,
.card:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  opacity: .5;
  filter: brightness(.5) contrast(1);
  z-index: 1;
}

.card:after {
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), 
  url(https://assets.codepen.io/13471/holo.png), 
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all .33s ease;
  opacity: .75;
  mix-blend-mode: color-dodge;

}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);;
  opacity: var(--opc);
  background-position:  var(--px_spark) var(--py_spark);

}

.card.active,
.card:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;

}

.card.active:before,
.card:hover:before {
  animation: none;
  background: linear-gradient(110deg,transparent 25%,rgb(0, 231, 255) 48%,rgb(255, 0, 231) 52%, transparent 75%);
  background-position:  var(--x) var(--y);
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  animation: none;
  transition: none;
}



.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

.back {
  background-image: url("https://tcg.pokemon.com/assets/img/global/tcg-card-back-2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
  border-radius: 30px;

}


.front {
  opacity: 1;
  transition: opacity 2s ease-out;
}

.front_loading {
  opacity: 0;
}

.back_loading {
  transform: rotateY(0deg);
}


@keyframes rotate {
0% {
  transform: rotateY(0deg) scale(1);
}
100% {
  transform: rotateY(360deg) scale(1.5);
}
}

.rotate-animation {
animation: rotate 1s forwards;
}

@keyframes rotateBack {
100% {
  transform: rotateY(0deg) scale(1);
}
0% {
  transform: rotateY(360deg) scale(1.5);
}
}

.rotate-animation2 {
animation: rotateBack 1s backwards;
}

